body {
    font-family: serif;
}

h1, p {
    font-family: sans-serif;
}

.google-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.uppercase-italic {
    text-transform: uppercase;
    font-style: italic;
}

.character-spacing {
    letter-spacing: 3px;
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.strike-through {
    text-decoration: line-through;
}

.indent {
    text-indent: 2em;
}