div, p, h1 {
  width: 200px;
  height: 100px;
  border: 1px solid black;
}

  	/* Specificity: 0-0-0-1 */
	h1 {
		color: red;
	}

	/* Specificity: 0-0-1-0 */
	.class-1 p {
		color: blue;
	}

	/* Specificity: 0-0-1-1 */
	.class-1 .class-2 {
		color: green;
	}

	/* Specificity: 0-1-0-0 */
	div#my-div {
		color: purple;
	}

	/* Specificity: 0-1-0-1 */
	div p {
		color: orange;
	}

	/* Specificity: 0-1-1-0 */
	#my-div p {
		color: brown;
	}

	/* Specificity: 0-1-1-1 */
	div.class-1 .class-2 {
		color: gray;
	}

	/* Specificity: 1-0-0-0 */
	body h1 {
		color: pink;
	}

	/* Specificity: 1-0-0-1 */
	body .class-1 {
		color: yellow;
	}

	/* Specificity: 1-0-1-0 */
	body div#my-div {
		color: cyan;
	}
